debug/
target/
tmp/

Cargo.lock

hello_world
a.out
*.o
*.exe
*.log
bootstrap
bootstrap.s
bootstrap.o
bbootstrap
bin/lm_raw
production
production.s
production.o
re-strict
strict.s
tmp.s
tmp
unit
unit.s
*.cmx
*.cmi
benchmarks/*.s
benchmarks/*.o
*.exe
*.txt
re-production
